APP_NAME="Focus Ledger"
APP_ENV=local
APP_DEBUG=true
APP_URL="https://php-site.ddev.site"
APP_TIMEZONE="Asia/Dhaka"

DB_HOST=db
DB_PORT=3306
DB_NAME=db
DB_USER=db
DB_PASS=db
DB_CHARSET=utf8mb4
DB_TIMEOUT=5
